@media (max-width: 1200px){
    main {
        height: auto;
        width: 100vw;
    }

    .conteudoInterno{
        margin-top: 3%;
        margin-bottom: 3%;
        width: 85%;
        padding: 40px;
    }

    .titulo{
        margin-top: 0;
    }

    .embrulhoDosTextos{
        flex-direction: column;
    }

    .resultado {
        margin-right: 0;
        margin-bottom: 0;
        flex-basis: auto;
    }

    .entrada {
        flex-basis: 100%;
        margin-left: 0;
    }

    .textEntrada{
        height: 300px;
    }

    .desenho{
        width: 250px;
    }

    .ativado{
        width: 100%;
    }

    .botoes{
        align-items: center;
        margin: 0;
    }
}

@media (max-width: 850px){
    .conteudoInterno{
        width: 75%;
    }
}

@media (max-width: 750px){
    .divbut{
        flex-direction: column;
        align-items: stretch;
    }

    .botoes{
        margin: 0;
        padding: 0 20px;
    }

    .encriptar{
        margin: 0 0 0.8em 0;
    }
}

@media (max-width: 650px){
    .titulo{
        font-size: 30px;
    }
}

@media (max-width: 560px){
    .titulo{
        font-size: 24px;
    }

    .botaoClaro{
        font-size: 16px;
        padding: 10px 0;
    }

    .desativado h4 {
        font-size: 18px;
    }

    .desativado h6 {
        font-size: 14px;
    }

    .desativado {
        padding-bottom: 1em;
    }

    .conteudoInterno{
        padding: 15px;
    }
}

@media (max-width: 400px){
    .titulo{
        font-size: 18px;
    }

    .botaoClaro{
        font-size: 14px;
    }

    .desenho{
        width: 200px;
    }
}